<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
    {% load staticfiles %}
  </head>
  <body>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
<form action="/authorize" method="POST">
   {% csrf_token %}
   <label for="email_entry"></label>
   Email Address:<input type="text" name="email" value="">
   <br>
   <br>
   <label for="Submit"></label>
   <input type="submit" name="valid" value="Submit">
</form>
  </body>
</html>
