<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music</title>
  </head>
  <body>
    {% if request.session.user_name %}
      <br>
      <a href="{% url 'user:logout' %}">Logout</a>
      <a href="{% url 'user:profile' %}">View Profile</a>
      <a href="{% url 'user:follower' %}">View Followers</a>
        <h1>Dojify</h1>
      <h3>Welcome, {{request.session.user_name}}!</h3>
    {% else %}
      <a href="{% url 'user:home' %}">Login</a>

    {% endif %}
  <a href="{% url 'music:add_artist' %}">Add Music</a><br><br>
  <label for="Search"></label>
  <input type="text" name="Searchbar" value="artist,genre,song title">
  <input type="submit" name="search">
  <hr>
  <h3>Top 5 Songs</h3>
  <hr>
  <h3>Top 5 Artists</h3>
  <hr>
  <h3>Top 5 Playlists</h3>

  <hr>
  </body>
  </html>
