<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    {% for m in messages %}
      {{ m }}<br>
    {% endfor %}
    <form action="{% url 'user:update' %}" method="POST">
      {% csrf_token %}
      <p>Email: {{user.email}}</p>
      <label for="first_name"></label>
      <p>Current First Name:{{user.first_name}}</p>
      Change to:<input type="text" name="html_first_name" value=""><br>
      <label for="last_name"></label>
      <p>Current Last Name:{{user.last_name}}</p>
      Change to:<input type="text" name="html_last_name" value=""><br><br>
      <label for="password"></label>
      Current Password:<input type="password" name="html_password" value=""><br><br>
      Change Password to:<input type="password" name="html_password" value=""><br><br>
      Confirm Password:<input type="password" name="html_confirm" value=""><br><br>
      <input type="submit" name="Edits" value="Save Changes"><br>
    </form>
      <a href="{% url 'playlist:home' %}"><button>Back to Home</button></a>
  </body>
</html>
